html { 
  background: url("../media/bg_sydney.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ========== Scrollbar ==========*/
::-webkit-scrollbar {
  width: 12px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, purple, blue);
  border-radius: 10px;
}
html {
	scroll-behavior: smooth;
}